*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  /* background-color: rgb(240, 240, 240); */
}
.bg-image {
  width: 800px;
  min-height: 600px;
  position: absolute;
  /* top: 10px; */
  left: 35%;
  background-size: cover;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRcjd2qNttZsjnYQtyqd-zhwbMpzjnq7R6sIw&usqp=CAU');
}
.app {
  width: 400px;
  min-height: 500px;
  position: absolute;
  top: 50px;
  left: 20%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 2px solid black;
  padding: 0 10px;
  /* background-color: ghostwhite; */
  /* box-shadow: 10px 10px 13px #0002, -10px -10px 13px #fff7; */
}
form {
  width: 100%;
  margin: 20px;
  height: 40px;
}

form input,
form button {
  width: 250px;
  height: 100%;
  /* border: none; */
  /* outline: none; */
  background: transparent;
  /* border-radius: 10px; */
  padding: 0 5px;
  /* box-shadow: inset -5px -5px 5px #fff7, inset 5px 5px 5px #0002; */
}
form button {
  width: 80px;
  margin-left: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #fd7e14;
  color: white;
  font-weight: bold;
  box-shadow: -5px -5px 5px #fff7, 5px 5px 5px #0002;
}
h1 {
  text-align: center;
  letter-spacing: 13px;
  font-size: 2.5em;
  text-transform: uppercase;
  color: rgb(40 47 42);
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: -3px -3px 3px #fff7, 3px 3px 3px #0003;
}
h2 {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(40 47 42);
  margin-bottom: 20px;
  text-shadow: -3px -3px 3px #fff7, 3px 3px 3px #0003;
}
ul li {
  list-style: none;
  margin: 15px 0;
  padding: 10px;
  text-transform: capitalize;
  box-shadow: -5px -5px 5px #fff7, 5px 5px 5px #0002;
  animation: opacity 0.2s linear;

  border: 1px solid rgb(65, 62, 62);
  border-radius: 10px;
}
@keyframes opacity {
  form {
    opacity: 1;
    transform: scale(0.7);
  }
}

ul li .row {
  float: right;
  margin: 0;
}

ul li .row .fa-pencil {
  color: #fd7e14;
  margin-left: 12px;
  cursor: pointer;
}
ul li .row .fa-pencil:hover {
  color: green;
  margin-left: 12px;
  cursor: pointer;
}
ul li .row .fa-trash {
  color: rgb(243, 36, 36);
  margin-left: 12px;
  cursor: pointer;
}
ul li .row .fa-trash:hover {
  color: rgb(168, 8, 40);
  margin-left: 12px;
  cursor: pointer;
}
ul li .row .fa-save {
  color: rgb(29, 165, 69);
  margin-left: 12px;
  cursor: pointer;
}
ul li .row .fa-times {
  color: rgb(243, 36, 36);
  margin-left: 12px;
  cursor: pointer;
}
.active {
  animation: del 0.3s linear;
}
@keyframes del {
  to {
    opacity: 0;
    transform: rotate(15deg) skew(25deg) scale(0.5);
  }
}
